server:
  port: 8079

jwt:
  secret: mysecretkeymysecretkeymysecretkeymysecretkey
  expiration: 3600000

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
