apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-config
  namespace: microservices
data:
  application.yml: |
    server:
      port: 8080
    spring:
      cloud:
        gateway:
          routes:
            - id: auth-service
              uri: http://auth-service:8079
              predicates:
                - Path=/auth/**
              filters:
                - RewritePath=/auth(?<segment>/?.*), ${segment}
            
            - id: student-service
              uri: http://student-service:8081
              predicates:
                - Path=/students/**
            
            - id: library-service
              uri: http://library-service:8082
              predicates:
                - Path=/library/**
            
            - id: mess-service
              uri: http://mess-service:8083
              predicates:
                - Path=/mess/**
    
    logging:
      level:
        org:
          springframework:
            cloud:
              gateway: DEBUG
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: microservices
data:
  application.yml: |
    server:
      port: 8079
    spring:
      application:
        name: auth-service
    jwt:
      secret: mysecretkeymysecretkeymysecretkeymysecretkey
      expiration: 3600000
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: student-service-config
  namespace: microservices
data:
  application.yml: |
    server:
      port: 8081
    spring:
      application:
        name: student-service
      datasource:
        url: jdbc:postgresql://student-db:5432/studentdb
        username: postgres
        password: password
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: false
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: library-service-config
  namespace: microservices
data:
  application.yml: |
    server:
      port: 8082
    spring:
      application:
        name: library-service
      datasource:
        url: jdbc:postgresql://library-db:5432/librarydb
        username: postgres
        password: password
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: false
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mess-service-config
  namespace: microservices
data:
  application.yml: |
    server:
      port: 8083
    spring:
      application:
        name: mess-service
      datasource:
        url: jdbc:postgresql://mess-db:5432/messdb
        username: postgres
        password: password
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: false
